<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Reservations::@ViewBag.Title</title>
        <link href="~/Content/site.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-1.7.1.min.js"></script>
         
    </head>
    <body>
        <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
        </div>
        @RenderSection("scripts", required: false)
    </body>
</html>
